[Desktop Entry]
Encoding=UTF-8
Name=Illustrator CC
Exec=bash aipath/launcher/launcher.sh
Type=Application
StartupNotify=true
Comment=Illustrator CC for Linux
Icon=illustratoricon
StartupWMClass=illustrator.exe
Name[fr_FR]=Illustrator CC
